@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Prata", serif;
  font-family: "Open Sans Condensed", sans-serif;
}

:root {
  --color-title: #FBD784;
  --color-text-geral: #fff;
  --Bg-color: #0B1D26;
  --link-color: var(--color-title-principal);
  --font-tile: font-family: "Prata", serif;
  --font-description: font-family: "Open Sans Condensed", sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1023px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 1023px;
  }
}

#main-header {
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  z-index: 50;
}
#main-header .container {
  position: relative;
}
#main-header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  #main-header .wrapper {
    justify-content: space-evenly;
  }
}
@media (max-width: 1024px) {
  #main-header .wrapper {
    justify-content: space-evenly;
  }
}
#main-header .wrapper .navigation ul {
  display: flex;
}
#main-header .wrapper .navigation ul li {
  padding: 1em;
}
#main-header .wrapper .navigation ul li a {
  width: fit-content;
  color: #fff;
  transition: 0.3s;
}
#main-header .wrapper .navigation ul li a:hover {
  color: var(--color-title);
  font-size: 1.2em;
}
@media (max-width: 414px) {
  #main-header .wrapper .navigation {
    display: none;
  }
}
#main-header .navigation {
  display: flex;
}
#main-header .navigation li:nth-child(1) img {
  position: absolute;
  left: -1em;
}
#main-header .logo {
  font-size: 30px;
  color: var(--color-text-geral);
}
#main-header .logo a {
  color: var(--color-text-geral);
  transition-delay: 0.2s;
}
#main-header .logo a:hover {
  color: var(--color-title);
}
#main-header .logo img {
  filter: grayscale(100);
  transition: 0.3s;
}
#main-header .logo img:hover {
  filter: grayscale(0);
}

#home-page {
  visibility: visible;
  opacity: 1;
  overflow: hidden;
}
#home-page .page-background {
  background-image: url(../img/bg-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#home-page .page-background .page-background-content {
  height: 700px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
}
#home-page .page-background .container {
  position: relative;
}
#home-page .page-background .section-hero {
  background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 320px) {
  #home-page .page-background .section-hero {
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0.06) 31.06%, #0B1D26 108.93%);
  }
}
#home-page .page-background .wrapper {
  position: relative;
  top: -6em;
}
@media (max-width: 1400px) {
  #home-page .page-background .wrapper {
    top: -1em;
  }
}
@media (max-width: 1024px) {
  #home-page .page-background .wrapper {
    top: -1em;
  }
}
@media (max-width: 414px) {
  #home-page .page-background .wrapper {
    top: 3em;
  }
}
@media (max-width: 320px) {
  #home-page .page-background .wrapper {
    top: 0.3em;
  }
}
#home-page .page-background .wrapper-title {
  color: var(--color-title);
  font-size: 18px;
  font-weight: 700;
  margin: 1em 28em;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  #home-page .page-background .wrapper-title {
    margin-left: 17em;
    width: 50%;
  }
}
@media (max-width: 1024px) {
  #home-page .page-background .wrapper-title {
    margin-left: 17em;
    width: 50%;
  }
}
@media (max-width: 414px) {
  #home-page .page-background .wrapper-title {
    margin: 0em auto;
  }
}
@media (max-width: 320px) {
  #home-page .page-background .wrapper-title {
    margin: 0 6.7em;
  }
}
#home-page .page-background .wrapper-title::before {
  content: "";
  background-color: var(--color-title);
  height: 2px;
  width: 72px;
  position: absolute;
  margin: 0.5em -5em;
}
@media (max-width: 1024px) {
  #home-page .page-background .wrapper-title::before {
    margin: 0.5em -5em;
  }
}
#home-page .page-background .wrapper-description {
  color: var(--color-text-geral);
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}
@media (max-width: 414px) {
  #home-page .page-background .wrapper-description {
    font-size: 55px;
  }
}
@media (max-width: 320px) {
  #home-page .page-background .wrapper-description {
    font-size: 38px;
  }
}
#home-page .page-background .wrapper .scroll-down {
  display: flex;
  margin: 3em 24em;
}
@media (max-width: 1024px) {
  #home-page .page-background .wrapper .scroll-down {
    margin-left: 12em;
  }
}
@media (max-width: 414px) {
  #home-page .page-background .wrapper .scroll-down {
    margin: 2em auto;
    justify-content: center;
  }
}
#home-page .page-background .wrapper .scroll-down-title {
  color: var(--color-text-geral);
  margin: 0 1em;
  font-size: 18px;
  font-weight: 700;
}
#home-page .page-background .wrapper .scroll-down-title a {
  color: var(--color-text-geral);
  transition: 0.3s;
}
#home-page .page-background .wrapper .scroll-down-title a:hover {
  color: var(--color-title);
}
#home-page .page-background .wrapper .scroll-down-icon {
  padding: 1em 0;
  position: relative;
  top: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
}
#home-page .page-background .wrapper .scroll-down-icon::before {
  content: "";
  position: absolute;
  top: 28px;
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}
#home-page .page-background .wrapper .scroll-down-icon::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 5px;
  width: 2px;
  height: 50px;
  background: #fff;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform-origin: top;
    transform: scaleY(0);
  }
  45% {
    transform-origin: top;
    transform: scaleY(1);
  }
  55% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}
#home-page .page-background .wrapper .fllow-us {
  position: absolute;
  transform: rotate(90deg);
  top: 6em;
}
@media (max-width: 1024px) {
  #home-page .page-background .wrapper .fllow-us {
    margin: 5em 2em;
  }
}
@media (max-width: 414px) {
  #home-page .page-background .wrapper .fllow-us {
    margin: 10em 1em;
  }
}
#home-page .page-background .wrapper .fllow-us a {
  color: var(--color-text-geral);
  font-size: 19px;
  font-weight: 700;
  position: relative;
  top: 1.5em;
  left: 0;
  transition: 0.4s;
}
#home-page .page-background .wrapper .fllow-us a:hover {
  color: var(--color-title);
  font-size: 1.7em;
}
#home-page .page-background .wrapper .fllow-us a img {
  color: var(--color-title);
  position: relative;
  top: 0.2em;
}
#home-page .section-about {
  padding: 0 0 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Bg-color);
}
#home-page .section-about .container {
  position: relative;
}
#home-page .section-about .flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-geral);
  position: relative;
  top: -33em;
}
#home-page .section-about .flex-wrapper .blocks {
  position: relative;
}
@media (max-width: 1024px) {
  #home-page .section-about .flex-wrapper .blocks {
    width: 100%;
    max-width: 900px;
  }
  #home-page .section-about .flex-wrapper .blocks img {
    width: 100%;
  }
}
#home-page .section-about .flex-wrapper .blocks .number {
  font-size: 240px;
  font-weight: 700;
  opacity: 10%;
  position: absolute;
  top: -0.4em;
  left: -0.6em;
}
@media (max-width: 1024px) {
  #home-page .section-about .flex-wrapper .blocks .number {
    margin: 0 0.3em;
  }
}
@media (max-width: 768px) {
  #home-page .section-about .flex-wrapper .blocks .number {
    margin-left: 0.6em;
  }
}
#home-page .section-about .flex-wrapper .blocks .link {
  padding: 1em 0;
}
#home-page .section-about .flex-wrapper .blocks .link a {
  color: #FBD784;
  transition: 0.3s;
}
#home-page .section-about .flex-wrapper .blocks .link a:hover {
  color: var(--Bg-color);
  opacity: 90%;
  font-size: 15px;
  font-weight: 700;
  background-color: var(--color-title);
  border-radius: 0.5em;
  padding: 0.5em;
}
#home-page .section-about .flex-wrapper .blocks .item {
  position: relative;
  top: 2em;
  left: 8em;
  display: flex;
}
@media (max-width: 1024px) {
  #home-page .section-about .flex-wrapper .blocks .item {
    left: 1em;
  }
}
@media (max-width: 768px) {
  #home-page .section-about .flex-wrapper .blocks .item {
    flex-direction: column;
    align-items: center;
  }
}
#home-page .section-about .flex-wrapper .blocks .item .left {
  margin-right: 2em;
}
#home-page .section-about .flex-wrapper .blocks .item .left-title {
  font-size: 18px;
  color: var(--color-title);
  margin: 5em 3em;
}
@media (max-width: 1024px) {
  #home-page .section-about .flex-wrapper .blocks .item .left-title {
    margin-left: 6.6em;
  }
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item .left-title {
    margin-left: 10.6em;
  }
}
#home-page .section-about .flex-wrapper .blocks .item .left-title::before {
  content: "";
  height: 2px;
  width: 72px;
  position: absolute;
  background-color: var(--color-title);
  margin: 0.6em -5em;
}
#home-page .section-about .flex-wrapper .blocks .item .left-description {
  font-size: 64px;
  margin: -1.2em 0 1em;
}
@media (max-width: 768px) {
  #home-page .section-about .flex-wrapper .blocks .item .left-description {
    font-size: 55px;
  }
}
@media (max-width: 320px) {
  #home-page .section-about .flex-wrapper .blocks .item .left-description {
    font-size: 38px;
  }
}
#home-page .section-about .flex-wrapper .blocks .item .left-sub-description {
  line-height: 32px;
  width: 95%;
  text-align: justify;
}
#home-page .section-about .flex-wrapper .blocks .item .left-sub-description span {
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item .right {
    margin: 0 -1em;
  }
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(2) {
  padding: 12.5em 0;
}
@media (max-width: 1024px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) {
    left: 3.5em;
  }
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .number {
  font-family: var(--font-description);
  font-size: 240px;
  opacity: 10%;
  position: absolute;
  top: 0.5em;
  left: 2.6em;
}
@media (max-width: 1024px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .number {
    left: 1em;
  }
}
@media (max-width: 768px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .number {
    top: 3.6em;
    left: -0.7em;
  }
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .number {
    top: 3.2em;
  }
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .link {
    margin-left: 7.4em;
  }
}
@media (max-width: 375px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .link {
    margin: -5em 8.5em;
  }
}
@media (max-width: 320px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .link {
    margin: -9em 10.3em;
  }
}
@media (max-width: 768px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .left {
    position: relative;
    left: -1.5em;
  }
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .left {
    margin: 0 -2em;
  }
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right {
  margin-right: 2em;
}
@media (max-width: 768px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right {
    padding: 1.5em 0;
  }
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-title {
  font-size: 18px;
  color: var(--color-title);
  margin: 5em 12.5em;
}
@media (max-width: 1204px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-title {
    position: relative;
    left: -3.6em;
    width: 50%;
  }
}
@media (max-width: 768px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-title {
    margin-left: 5.3em;
  }
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-title {
    margin-left: 21.8em;
  }
}
@media (max-width: 375px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-title {
    margin: 9em 17em;
  }
}
@media (max-width: 320px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-title {
    margin: 12em 17em;
  }
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-title::before {
  content: "";
  height: 2px;
  width: 72px;
  position: absolute;
  background-color: var(--color-title);
  margin: 0.6em -5em;
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-description {
  font-size: 64px;
  margin: -1em 0 1em;
}
@media (max-width: 768px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-description {
    font-size: 55px;
  }
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-description {
    margin: 0 2.6em;
    font-size: 45px;
  }
}
@media (max-width: 375px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-description {
    margin: -2em 3em;
  }
}
@media (max-width: 320px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-description {
    margin: -4em 4.2em;
    font-size: 38px;
  }
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-sub-description {
  line-height: 32px;
  width: 73%;
  text-align: justify;
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-sub-description span {
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-sub-description {
    margin: 0 7.5em;
    width: 55%;
  }
}
@media (max-width: 375px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-sub-description {
    margin: 6em 8.5em;
    width: 48%;
  }
}
@media (max-width: 320px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(2) .right-sub-description {
    margin: 10em 10em;
    width: 39%;
  }
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(3) {
  position: relative;
  top: 2em;
  left: 8em;
  display: flex;
}
@media (max-width: 1024px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(3) {
    left: 3.5em;
  }
}
@media (max-width: 1024px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .number {
    left: -0.7em;
  }
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .link {
    margin-left: -2.5em;
  }
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .left {
  margin-right: 2em;
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .left-title {
  font-size: 18px;
  color: var(--color-title);
  margin: 5em 3em;
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .left-title::before {
  content: "";
  height: 2px;
  width: 72px;
  position: absolute;
  background-color: var(--color-title);
  margin: 0.6em -5em;
}
@media (max-width: 768px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .left-title {
    margin-left: 4.5em;
  }
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .left-description {
  font-size: 64px;
  margin: -1.2em 0 1em;
}
@media (max-width: 768px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .left-description {
    font-size: 55px;
  }
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .left-description {
    font-size: 45px;
  }
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .left-sub-description {
  line-height: 32px;
  width: 95%;
  text-align: justify;
}
#home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .left-sub-description span {
  font-size: 17px;
  font-weight: 700;
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .left-sub-description {
    margin: 0 -2.6em;
    width: 100%;
  }
}
@media (max-width: 768px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .right img {
    margin: 0 -2em;
  }
}
@media (max-width: 414px) {
  #home-page .section-about .flex-wrapper .blocks .item:nth-child(3) .right {
    margin-left: -2em;
  }
}

#main-footer {
  position: relative;
  background-color: var(--Bg-color);
  margin: -30em 0;
}
@media (max-width: 414px) {
  #main-footer {
    padding: 10em 0;
  }
}
#main-footer .items {
  display: flex;
  justify-content: space-around;
}
#main-footer .items .left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -6em;
}
#main-footer .items .left-logo {
  color: var(--color-text-geral);
  font-size: 32px;
}
#main-footer .items .left-description {
  color: var(--color-text-geral);
  font-size: 18px;
  line-height: 32px;
}
#main-footer .items .left .copyright {
  color: var(--color-text-geral);
  font-size: 18px;
  line-height: 32px;
  opacity: 0.5;
}
#main-footer .items .right {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 414px) {
  #main-footer .items .right {
    display: none;
  }
}
#main-footer .items .right .column-1 .title {
  color: var(--color-title);
  font-size: 18px;
}
#main-footer .items .right .column-1 .navigation {
  padding: 1.5em 0;
}
#main-footer .items .right .column-1 .navigation ul li {
  line-height: 50px;
}
#main-footer .items .right .column-1 .navigation ul li a {
  color: var(--color-text-geral);
  transition: 0.3s;
}
#main-footer .items .right .column-1 .navigation ul li a:hover {
  color: var(--color-title);
}
#main-footer .items .right .column-2 .title {
  color: var(--color-title);
  font-size: 18px;
}
#main-footer .items .right .column-2 .navigation {
  padding: 1.5em 0;
}
#main-footer .items .right .column-2 .navigation ul li {
  line-height: 50px;
}
#main-footer .items .right .column-2 .navigation ul li a {
  color: var(--color-text-geral);
  transition: 0.3s;
}
#main-footer .items .right .column-2 .navigation ul li a:hover {
  color: var(--color-title);
}/*# sourceMappingURL=main.css.map */